$black: red;

.grid--container {
    display: grid;
    width: 1000px;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 16px;
}

.item {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 8px;
    background: #f1afaf;
}

.box--1 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.box--2 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

.box--3 {
    grid-row: 4 / 6;
    grid-column: 2 / span 2;
}

$dark-theme: true !default;
$primary-color: #dee8f1 !default;
$accent-color: #5e0000 !default;

$test: red;

@if $dark-theme {
    // this statement just re-assign value to variable
    $primary-color: darken($primary-color, 60%);
    $accent-color: lighten($accent-color, 60%);
}

.button {
    // set global value to `$test` variable
    $test: yellow !global;

    background-color: $primary-color;
    border: 1px solid $accent-color;
    color: $test;
    border-radius: 3px;
    border-width: 3px;
}

.button-2 {
    // this button will receive the global value that we assign above
    color: $test;
}